<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
    laborum accusamus doloribus laudantium corporis facilis tempora explicabo
    maxime voluptas eligendi?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ABC Company Inc.</p>
      </div>
    </div>
  </footer>
</blockquote>
